---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import Github from '../components/icons/Github.astro';
import Tailwind from '../components/icons/Tailwind.astro';
import Prisma from '../components/icons/Prisma.astro'; 
import Azure from '../components/icons/Azure.astro';
import Javascript from '../components/icons/Javascript.astro';
import Typescript from '../components/icons/Typescript.astro';
import SocialPill from '../components/SocialPill.astro';
import Gmail from '../components/icons/Gmail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import SuitCase from '../components/icons/SuitCase.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
title="Portafolio de Marco Molina - Desarrollador y Programador Web"
description="Conoce a Marco Molina, un desarrollador web de Puerto Montt, Chile. Finalizando Ingenier칤a Civil en Inform치tica en la Universidad de Los Lagos."
>
	<main class="px-4">
		<SectionContainer id="top" class="py-44 pb-32">
			
			<h1 class="justify-center items-center text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-cyan-500 via-yellow-400 to-red-500 flex flex-row gap-x-4 pb-4">
				<picture class="rounded-full size-28 overflow-hidden block">
					<img 
					class="scale-125" 
					src="/photo.png" 
					alt="marco photo"
					>
				</picture>
				
				춰Hola! Soy Marco Molina, 
				<div class="flex justify-center items-center">
					<a href="https://www.linkedin.com/in/marco-molina-b0199a214/" target="_blank" rel="noopener">
						<Badge>Disponible</Badge>
					</a>
				</div>
			</h1>
			<h2 class="text-xl font-semibold">
				Desarrollador Web | Puerto Montt / Osorno, Chile 游뻟릖
			</h2>
			<p class="text-lg text-wrap max-w-[800px]">
				Finalizando <span class="text-yellow-200/90">Ingenier칤a Civil en Inform치tica en la Universidad de Los Lagos,</span>
				apasionado por <span class="text-red-300/90">crear soluciones de software</span> creativas y eficientes. 
				<span class="text-cyan-300/80">Adem치s, soy un entusiasta de la</span><span class="font-extrabold bg-clip-text text-transparent bg-[linear-gradient(to_right,theme(colors.red.400),theme(colors.blue.300),theme(colors.yellow.400),theme(colors.red.400),theme(colors.blue.300),theme(colors.yellow.400))] bg-[length:200%_auto] animate-gradient"> tecnolog칤a y la programaci칩n.</span>
			</p>

			<nav class="flex gap-x-2 mt-4 text-black/70">
				<SocialPill href="https://www.linkedin.com/in/marco-molina-b0199a214/">
					<Linkedin class="w-6 h-6" />
					<span class="text-xs">Linkedin</span>
				</SocialPill>
				<SocialPill href="https://github.com/olawas">
					<Github class="w-6 h-6" />
					<span class="text-xs">Github</span>
				</SocialPill>
				<SocialPill href="mailto:marcoantonio.molina2001@gmail.com">
					<Gmail class="w-6 h-6" />
					<span class="text-xs">Gmail</span>
				</SocialPill>
			</nav>
		</SectionContainer>
		
		<SectionContainer id="experience" class="mb-40 max-w-[800px]">
			
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center justify-center">
				<SuitCase class="size-6"/>
				Experiencia
			</h2>
			<Experience/>
		</SectionContainer>
		<SectionContainer id="projects" class="mb-40 max-w-[800px]">
			
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center justify-center">
				<Code class="size-6"/>
				Proyectos
			</h2>
			<Projects/>
		</SectionContainer>

	</main>
</Layout>
