---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        title: 'Desarrollador Principal - ST Consultores',
        date: 'Julio 2025 - Presente',
        description: 'Desarrollo y arquitectura de soluciones empresariales escalables. Diseño de sistemas de gestión, optimización de procesos y consultoría técnica para clientes corporativos.'
    },
    {
        title: 'Desarrollador de Software Jr - Sotex S.P.A.',
        date: 'Enero 2025 - Junio 2025',
        description: 'Me uní al equipo de desarrollo para trabajar en la creación de sistemas web que optimicen procesos complejos para los clientes. Mi enfoque principal está en el diseño de la arquitectura de datos y el desarrollo de una plataforma eficiente y centrada en la experiencia del usuario.'
    },
    {
        title: 'Desarrollador Full Stack - Cafetería Panichini, Puerto Montt',
        date: 'Septiembre 2024 - Diciembre 2024',
        description: 'Creación e implementación de un sistema de gestión de archivos en la nube para optimizar la organización de documentos del personal, utilizando OneDrive y Microsoft Graph API.'
    },
    {
        title: 'Encargado de Aseguramiento de Calidad (QA) - Sotex S.P.A.',
        date: 'Agosto 2023 - Junio 2024',
        description: 'Responsable de la calidad del software desarrollado por el equipo, enfocándome en pruebas funcionales y la validación de requerimientos.'
    },
    {
        title: 'Desarrollador de Software (Proyectos Académicos) - Universidad de Los Lagos',
        date: 'Marzo 2020 - Presente',
        description: 'Desarrollo de soluciones de software para varios proyectos académicos, enfocándome en crear aplicaciones que resuelvan problemas reales o me introduzcan a una nueva tecnología.'
    }
]
---
<ol class="">  
    {EXPERIENCE.map(experience => (
        <li class="mb-10">    
            <ExperienceItem {...experience} />
        </li>))
    }
</ol>